@keyframes grayscaleToColor {
  0%, 100% {
    filter: grayscale(0.75);
  }
  50% {
    filter: grayscale(0.25);
  }
}

body {
  background-color: hsl(200, 100%, 20%);
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.hidden {
  display: none !important;
}

.villagers {
  border-inline: 5px solid black;
  margin: 0 auto;
  max-width: 704px;
}

.row {
  align-items: center;
  display: grid;
  font-size: 2rem;
  grid-column-gap: 32px;
  grid-template-columns: auto repeat(3, 1fr);
}

.row:not(.table-head) {
  background-color: hsl(200, 100%, 70%);
}

.row:not(.table-head):nth-child(even) {
  background-color: hsl(200, 100%, 80%);
}

.cell img {
  --size: 64px;
  background-color: var(--bg-color, inherit);
  display: block;
  font-size: 1rem;
  height: var(--size);
  width: var(--size);
}

.loading-icon {
  display: grid;
  height: 100vh;
  place-content: center;
  width: 100vw;
}

.loading-icon img {
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-name: grayscaleToColor;
  animation-timing-function: ease-in-out;
  width: calc(100vmax / 3.5);
}

.loading-icon span {
  color: #eee;
  font-size: 1.5rem;
  text-align: center;
}

.table-head {
  background-color: hsl(200, 100%, 12.5%);
  border-bottom: 2px solid black;
  color: #eee;
  grid-column-gap: 0;
  grid-template-columns: 64px repeat(3, 1fr);
  position: sticky;
  top: 0;
}

.thead-button {
  --sort-icon-side-width: 6px;
  --sort-icon-base-width: calc((var(--sort-icon-side-width) * 2) * 0.866);
  --sort-icon-on-color: hsl(120, 100%, 50%);
  --sort-icon-off-color: #ccc;
  --sort-icon-up-color: var(--sort-icon-off-color);
  --sort-icon-down-color: var(--sort-icon-off-color);
  background-color: inherit;
  border-radius: 0;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 12px;
  padding-left: 32px;
  position: relative;
  text-align: left;
  transition: 128ms background-color ease-in-out;
}

.thead-button:active,
.thead-button:hover {
  background-color: hsl(200, 100%, 25%);
}

.thead-button::before,
.thead-button::after {
  border-left: var(--sort-icon-side-width) solid transparent;
  border-right: var(--sort-icon-side-width) solid transparent;
  content: '';
  left: 12px;
  position: absolute;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.thead-button::before {
  border-bottom: var(--sort-icon-base-width) solid var(--sort-icon-up-color);
  bottom: calc(50% + 1.5px);
  transition-property: border-bottom-color;
}

.thead-button::after {
  border-top: var(--sort-icon-base-width) solid var(--sort-icon-down-color);
  top: calc(50% + 1.5px);
  transition-property: border-top-color;
}

.thead-button[data-icon-style="none"] {
  --sort-icon-up-color: var(--sort-icon-off-color);
  --sort-icon-down-color: var(--sort-icon-off-color);
}

.thead-button[data-icon-style="asc"] {
  --sort-icon-up-color: var(--sort-icon-on-color);
  --sort-icon-down-color: var(--sort-icon-off-color);
}

.thead-button[data-icon-style="desc"] {
  --sort-icon-up-color: var(--sort-icon-off-color);
  --sort-icon-down-color: var(--sort-icon-on-color);
}
