@keyframes grayscaleToColor {
  0%, 100% {
    filter: grayscale(0.75);
  }
  50% {
    filter: grayscale(0.25);
  }
}

body {
  background-color: hsl(200, 100%, 20%);
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.hidden {
  display: none !important;
}

.villagers {
  border-inline: 5px solid black;
  margin: 0 auto;
  max-width: 640px;
}

.row {
  align-items: center;
  display: grid;
  font-size: 2rem;
  grid-column-gap: 16px;
  grid-template-columns: auto repeat(3, 1fr);
}
.row:not(.table-head) {
  background-color: hsl(200, 100%, 70%);
}
.row:not(.table-head):nth-child(2n + 1) {
  background-color: hsl(200, 100%, 80%);
}

.cell img {
  --size: 64px;
  background-color: var(--bg-color, inherit);
  display: block;
  font-size: 1rem;
  height: var(--size);
  width: var(--size);
}

.loading-icon {
  display: grid;
  height: 100vh;
  place-content: center;
  width: 100vw;
}

.loading-icon img {
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-name: grayscaleToColor;
  animation-timing-function: ease-in-out;
  width: calc(100vmax / 3.5);
}

.loading-icon span {
  color: #eee;
  font-size: 1.5rem;
  text-align: center;
}

.table-head {
  background-color: hsl(200, 100%, 12.5%);
  border-bottom: 2px solid black;
  color: #eee;
  grid-column-gap: 0;
  grid-template-columns: 64px repeat(3, 1fr);
  position: sticky;
  top: 0;
}

.thead-button {
  background-color: inherit;
  border-radius: 0;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 12px;
  text-align: left;
  transition: 128ms background-color ease-in-out;
}
.thead-button:active,
.thead-button:hover {
  background-color: hsl(200, 100%, 25%);
}
